.header{
	background-color: #2f6baa;
	color: white;
	font-weight: bold;

}
.navbar{
	margin-bottom: 0;
}
@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}
.content{
	padding-top: 50px;
}
#duan{
	width: 50%;
	/*border-bottom: 3px solid #FFC20E;*/
}
.body{
	border-top: 3px solid #FFC20E;	
}
.tintuc{
	
	padding: 20px 0px 0px 5px;
}
.thumbnail{
    padding: 0px;
    margin-bottom: 0px;   
    background-color: #fff;
   	border: none; 
}
